@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
}


.footer_social_link{

}
.social_link{
    
}

.preview_hidden{
    opacity: 0;
    transition: .7s cubic-bezier(0.39, 0.575, 0.565, 1);
    filter: blur(2px);
    transform: scale(0.6);
    
    
}

.preview_show{
    opacity:1;
    filter: blur(0);
    transform: scale(1);
}


/*======================
    404 page
=======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #040c50;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}